<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>last.fm monthly recap</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Enter your last.fm username:</h1>
    <form id="usernameForm" action="/api/username" method="post">
        <input type="text" id="usernameInput" name="username" placeholder="Enter username" required />
        <button id="submitBtn">Submit</button>
    </form>

    <script src="js/script.js"></script>
</body>
</html>