@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box; /* ensures padding/border don't break layout */
    margin: 0;
    padding: 0;
}

.month {
    color: var(--theme-color);
    font-style: italic;
}

.scrobbles {
    color: gray;
    font-weight: thin;
    font-style: oblique;
}

body {
    background: #121212;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
    border: none;
    background-color: #d1170e;
    color: black;
    border-radius: 0.313rem;
}

.username_wrapper {
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #d1170e, #7f1410, #2e1816,#121212, #272727, #767676, #FFFFFF);
    background-size: 300% 300%;
    animation: color 20s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.username_box {
    width: 75vw;              /* responsive width */
    height: 17vh;
    max-width: 390px;         /* iphone 13 pro width */
    aspect-ratio: 390 / 844;  /* iphone 13 pro ratio */
    border-radius: 1rem;
    padding: 1rem;
    backdrop-filter: blur(1000px);
    box-shadow: inset 0 0 10px rgba(209, 23, 14, 0.2), 0 0 25px rgba(209, 23, 14, 0.6), 0 0 45px rgba(209, 23, 14, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username_box h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#usernameForm {
    display: flex;
    gap: 0.5rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#usernameInput {
    flex: 1;
    padding: 0.625rem;
    font-size: 0.75rem;
    border-radius: 0.313rem;
    border: none;
}

#submitBtn {
    padding: 0.625rem 1.25rem;
}

.grid {
    width: 90vw;             
    max-width: 390px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 0;
    justify-content: center;
    aspect-ratio: 1 / 1;       /* make grid square */
    margin: 1rem auto;
}

.album img {
    width: 100%;
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    display: block;
}

.profile_wrapper {
    width: 100%;
    min-height: 100svh;
    background: linear-gradient(180deg, var(--theme-color), #030303, #030303);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.artists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    max-width: 390px;
    margin-top: 0rem;
}

.artists h2 {
    margin-bottom: 0rem;
    font-size: 7vw;
}

.artists ol {
    margin: 0;
    padding-left: 1.5rem;
    color: #FFFFFF;
    font-size: 4.8vw;
}

.site_name {
    position: fixed;
    bottom: 0.7rem;
    right: 0.7rem;
    font-size: 0.7rem;
    color: white;
    z-index: 1000;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}