@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background: #121212;
    color: white;
    margin: 0;
    overflow-x: hidden; /* hide horizontal scrollbar*/
    overflow-y: hidden;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
    border: none;
    background-color: #d1170e;
    color: black;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.username_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background: linear-gradient(45deg, #d1170e, #121212, #FFFFFF);
    background-size: 300% 300%;
    animation: color 25s ease-in-out infinite;
}

.username_box{
    position: relative;
    width: 15rem;
    height: 4rem;
    backdrop-filter: blur(1000px);
    border-radius: 0.938rem;
    padding: 2rem 3rem 4rem 3rem;
    box-shadow: 0rem 0rem 0.625rem 0.125rem rgba(0, 0, 0, 0.3);
}

.username_box h1{
    font-size: 1.2rem;
    text-align: center;
}

#usernameForm {
    display: flex;       
    gap: 0.5rem;         
    justify-content: center; 
    align-items: center;
}

#usernameInput {
    flex: 1;             
    padding: 0.625rem;   
    font-size: 0.75rem;
    border-radius: 0.313rem;
    border: none;
}

#submitBtn {
    display: inline-block; 
    margin: 0;             
    padding: 0.625rem 1.25rem;
}

.grid {
    padding: 2rem 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(7, 50px); /* 7 columns */
    grid-template-rows: repeat(7, 50px); /* 7 rows */
    gap: 0; /* no space between items */
    justify-content: center; 
}

.album {
    text-align: center;
    font-size: 0.9rem;
}

.album img {
    width: 3.125rem;       /* fill the entire grid cell */
    height: 50px;      /* maintain aspect ratio */
    object-fit: cover;
    display: block;    /* remove default inline spacing */
}

.profile_wrapper{
    width: 100%;
    min-height: 100svh;
    background: linear-gradient(180deg,#d1170e, #121212);
    background-size: 100%;
}

.artists{
    justify-content: center;
    display: grid;
    padding: 0rem 2rem 2rem 2rem;
    margin: 0rem 4rem 0 0;
}

.artists h2{
    margin: 0 0 0 0; /* top, right, bottom, left */
}
.artists ol{
    margin: 0.1rem 0 0 0;
    padding-left: 1rem; /* keep bullets aligned nicely */
    color: #8C8C8C;
}

.site_name {
    position: fixed;      
    bottom: 0rem;         
    right: 1rem;          
    font-size: 0.8rem;    
    color: white;        
    z-index: 1000;        
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}